.sideNavBarLinks {
  width: 20vw;
  height: 95vh;
  background: grey;
}

.SideBarWrapper {
  background: rgba(0, 0, 0, 1);
  position: absolute;
  top: 4.6vh;
  left: -20vw;
  height: 95.4vh;
  z-index: 2;
}

.slideOutSideBar {
  background: rgba(0, 0, 0, 1);
  width: 20vw;
  display: flex;
  flex-direction: row;
  top: 0vh;
  left: -40vw;
  /* left: 0vw; */
  height: 95.4vh;
  z-index: 1000;
  animation: slideOut 0.25s ease-in-out 1 forwards;
}
.slideInSideBar {
  position: absolute;
  top: 4.6vh;
  height: 95.4vh;
  z-index: 2;
  animation: slideIn 0.25s ease-in-out 1 forwards;
}

@keyframes slideOut {
  from {
    z-index: -1;
  }

  to {
    left: 0vw;
    z-index: 1000;
  }
}

@keyframes slideIn {
  from {
    left: 0vw;
    z-index: 2;
  }

  to {
    left: -20vw;
    z-index: -1;
  }
}

.close {
  outline: none;
  padding: 0.5vh 0.5vw;
  position: absolute;
  top: 1vh;
  left: 5vw;
  font-size: 2vw;
  color: white;
  cursor: pointer;
}

.mainList {
  list-style-type: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20vh;
  padding: 0;
}

.mainList li {
  display: inline-block;
  width: 15vw;
  margin: 2vh 0vw;
  color: white;
  flex-direction: row;
}

.mycases {
  margin: 0;
  padding: 0;
}

.mycases li {
  display: flex;
  justify-content: center;
}

.parentLinkWrapperWithChildren {
  display: grid;
  grid-template-columns: 4vw 13vw 3vw;
  grid-template-rows: 5vh;
  width: 20vw;
  margin: 1vh 0vw;
}

.expandChildren {
  transition: height 400ms ease-in;
  width: 20vw;
  color: white;
  height: 10vh;
  box-shadow: black 0px 0px 4px 0px;
}

.collapseChildren {
  transition: height 400ms ease-in;
  width: 20vw;
  color: white;
  height: 0vh;
}





.expand {
  transform: rotate(90deg);
  transition: transform 0.1s ease-in-out;
}

.collapseIcon {
  transform: rotate(0deg);
  transition: transform 0.1s ease-in-out;
}

.show {
  display: block;
}

.hide {
  display: none;
}
