

.SideBarWrapper {
  position: absolute;
  top: 4.5vh;
  left: -100vw;
  height: 95.4vh;
  z-index: 2;
}

.slideOutSideBar {
  width: 50vw;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 4.6vh;
  left: -100vw;
  height: 95.4vh;
  z-index: 1000;
  animation: slideOut 5s ease-in-out  1 forwards;
}
.slideInSideBar {
  position: absolute;
  top: 4.6vh;
  height: 95.4vh;
  z-index: 2;
  animation: slideIn 5s ease-in-out  1 forwards;

}

.sideNavBarLinks {
  width: 20vw;
  height: 95vh;
  border-right: 1px solid rgba(255,255,255,0.5);

}

@keyframes slideOut {
  from {
    z-index: -1;
  }

  to {
    left: 0vw;
    z-index: 1000;
  }
}

@keyframes slideIn {
  from {
    left: 0vw;
    z-index: 2;
  }

  to {
    left: -100vw;
    z-index: -1;
  }
}

.close {
  outline: none;
  padding: 0.5vh 0.5vw;
  position: absolute;
  top: 1vh;
  left: 5vw;
  font-size: 2vw;
  color: white;
  cursor: pointer;
}

.demo {
  border: 1px solid red;
}

.demo:hover > div > p {
  color: blue;
}
.childLinkWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 20vw;
}


.parentLinkWrapper:hover > div  > a, 
.parentLinkWrapper:hover > div  > div > .fa-list,
.parentLinkWrapper:hover > div  > div > .fa-edit,
.parentLinkWrapper:hover > div  > div > .fa-file,
.parentLinkWrapper:hover > div  > div > .fa-bell,
.parentLinkWrapper:hover >  div > .fa-angle-right,
.childLinkWrapper:hover > div > div  > .fa-gavel,
.childLinkWrapper:hover > div > div  > a


{
  color: white
}


.mainList {
  list-style-type: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20vh;
  padding: 0;
}

.mainList li {
  display: inline-block;
  width: 15vw;
  margin: 2vh 0vw;
  color: white;
  flex-direction: row;
}

.mycases {
  margin: 0;
  padding: 0;
}

a {
  cursor: "pointer",

}

.mycases li {
  display: flex;
  justify-content: center;
}

.parentLinkWrapperWithChildren {
  display: grid;
  grid-template-columns: 4vw 13vw 3vw;
  grid-template-rows: 5vh;
  width: 20vw;
  margin: 1vh 0vw;
}

.expandChildren {
  transition: height 400ms ease-in;

  width: 20vw;
  color: white;
  height: 10vh;
  background: rgb(140, 140, 140);
  box-shadow: black 0px 0px 4px 0px;
}

.collapseChildren {
  transition: height 400ms ease-in;
  width: 20vw;
  color: white;
  height: 0vh;
  background: rgb(140, 140, 140);
  box-shadow: black 0px 0px 4px 0px;
  overflow: hidden;
}

.collapseChildren1 {
  width: 20vw;
  color: white;
  height: 5vh;
  background-color: black;
}

.collapseChildren2 {
  width: 20vw;
  color: white;
  height: 5vh;
  background-color: black;
}




.expand {
  transform: rotate(90deg);
  transition: transform 0.1s ease-in-out;
}

.collapseIcon {
  transform: rotate(0deg);
  transition: transform 0.1s ease-in-out;
}

.show {
  display: block;
}

.hide {
  display: none;
}


