body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.flexStyling {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

.toggleBarWrapper {
  width: 3vw;
  height: 4.5vh;
  left: 0vw;
  top: 0vh;
  cursor: pointer;
  position: relative;
  background: rgba(255, 102, 0, 0.877);
  

}

.bar1,
.bar2,
.bar3 {
  width: 1.5vw;
  background-color: white;
  height: 2px;
  margin: 2px 0px;
  position: absolute;
  left: 25%;
}

.bar1 {
  top: 1vh;
  visibility: visible;
  transition: all 0.1s ease-in-out;
}

.bar2 {
  top: 1.7vh;

  transition: all 0.1s ease-in-out;
}

.bar3 {
  top: 2.4vh;

  transition: all 0.1s ease-in-out;
}

.hideme {
  visibility: hidden;
}

.rotate45 {
  transform: rotate(-45deg);
  top: 2.2vh;
  transition: transform 0.1s ease-in-out;
  width: 1.5vw;

}

.rotate-45 {
  transform: rotate(45deg);
  top: 2.2vh;
  width: 1.5vw;
  transition: transform 0.1s ease-in-out;
}
